<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main">
	  <section class="content">
  <nav class="side_nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/questions">Questions</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/contact">Contact</a></li>
	  <p style="color:green">Date/Time: <span id="datetime"></span></p>

	  <script>
	  var dt = new Date();
	  document.getElementById("datetime").innerHTML = (("0"+dt.getDate()).slice(-2)) +"."+ (("0"+(dt.getMonth()+1)).slice(-2)) +"."+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2));
	  </script>
    </ul>
	<% if @cart %>
	  <div id="cart" class="carts">
		<%= render @cart %>
	  </div>
	<% end %>
  </nav>
      <%= image_tag 'logo.png', alt: 'The Pragmatic Bookshelf' %>
        <h1><%= @page_title %></h1>
    </header>
    <%= content_tag :main, class: controller.controller_name do %>
      <%= yield %>
    <% end %>
	</section>
  </body>
  
</html>
